html, body{
    font-size: 18px;
    overflow-x: hidden;
}

#todo{
    background-color: #1a191f;
    color: aliceblue;
}

.card{
    height: 450px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    background-color: #1a191f;
    transition: .5s ease;
}

.card:hover{
    opacity: 0.3;
}

.card-fecha{
    margin: 10px;
    position: relative;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.score{
    display: flex;
}

.card-fecha .fecha{
    padding: 0 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.568);
    color: #000;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card-fecha span{
    padding: 0 10px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-img{
    position: absolute;
    z-index: 0;
    text-decoration:none;
}

.card-img:after {
    content:'';
    position:absolute;
    left:0; top:0;
    width:100%; height:100%;
    display:inline-block;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(0, 0, 0, 0.5) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0.5)), color-stop(100%,rgba(0,47,75,0.5))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(0, 0, 0, 0.5) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,47,75,0.5) 0%,rgba(0, 0, 0, 0.5) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%,rgba(0, 0, 0, 0.5) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgba(0, 0, 0, 0.5) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002f4b', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  }

.card-img img{
    opacity: 1;
    display: block;
    width: 100%;
    height: 450px;
    
}

.title{
    position: relative;
    color: aliceblue;
    margin: 5px 10px;
    text-decoration: inherit;
}

.img{
    display: flex;
    text-align: center;
    align-items: center;
    height: 85vh;
    
}

.img img{
    display:block;
    margin:auto;
    width: 400px;
    height: 550px;
}

.infomacion{
    padding: 30px;
}

.title-movie{
    font-weight: 700; 
}

.caract-movie{
    display: flex;
}

.caract-movie h4{
    font-size: 20px;
}

.cat{
    margin-left: 15px;
}

.puntaje-movie{
    display: flex;
}

.puntaje-movie p{
    display: inline;
    margin-left: 10px;
    margin-top: 0;
    text-align: center;
    align-items: center;
}

