<template>
  <div>
    <div class="row m-1">
      <MovieCard v-for="movie in movies" :key="movie.id" :movie="movie" :idMovie='`${movie.id}`'>
      </MovieCard>
    </div>
    <div class="text-center mb-4 mt-4">
      <v-btn @click="getMoviesTop()"> Cargar mas </v-btn>
    </div>
  </div>
</template>

<script>
import api from "../services/api.service.js";
import Movie from "@/models/Movie";
import MovieCard from "@/components/MovieCard";

export default {
  components: {
    MovieCard,
  },
  data() {
    return {
      acumulador: 0,
      movies: [],
    };
  },
  mounted() {
    this.getMoviesTop();
  },
  methods: {
    async getMoviesTop() {
      this.acumulador += 1;
      const movies = await api.getPopular(this.acumulador);
      await movies.data.results.map((movi) =>
        this.getMovie(movi.id).then((response) => {
          this.movies.push(response);
        })
      );
    },
    async getMovie(id) {
      const { data } = await api.getMovie(id);
      return new Movie(data);
    },
  },
};
</script>

<style>
</style>