<template>
  <div class="">
    <v-toolbar dark>

      <v-toolbar-title>MOVIES</v-toolbar-title>

      <v-spacer></v-spacer>

      <v-toolbar-items>
          <v-btn text to="/populares">POPULARES</v-btn>
          <v-btn text to="/">TOPRATED</v-btn>
        </v-toolbar-items>
    </v-toolbar>

  </div>
</template>

<script>
export default {
  data: () => ({

  }),
};
</script>