<template>
  <v-app>
    <v-main id="todo">
      <Toolbar />
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "App",
  data: () => ({}),
  components: {
    Toolbar: () => import("@/components/Toolbar"),
  },
};
</script>
